:root {
  --darkblue: #000033;
  --lightgray: rgb(230, 228, 228);
  --darkgray: rgb(63, 63, 63);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: var(--darkgray);
  font-family: sans-serif;
}

main {
  background: var(--lightgray);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* TEXT AREA */

.text {
  border: 1px red solid;
  text-align: center;
  margin-bottom: 20px;
}
.text h2 {
  font-size: 100px;
}

.text p {
  font-size: 50px;
}

/* CLOCk AREA */
.clock {
  border: 1px red solid;
}

.clock-face {
  background-color: white;
  border: 20px lightblue solid;
  height: 450px;
  width: 450px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center {
  height: 5%;
  width: 5%;
  border-radius: 50%;
  background: var(--darkblue);
  /* margin: auto; */
  order: 1;
}

.hands-container {
  width: 100%;
  height: 100%;
  order: 5;
  border: 1px purple solid;
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: relative; */
}

.hands {
  width: 5px;
  background-color: var(--darkblue);
  /* margin: auto; */
  transform: rotate(-90deg);
  transform-origin: 50% 100%;
  /* position: absolute; */
  left: 50%;
  /* transform: translateX(-50%); */
}

.hour-hand {
  height: calc(450px / 2 - 20px - 100px);
  top: 100px;
  /* transform: translateY(-50%); */
}

.min-hand {
  height: calc(450px / 2 - 20px - 10px);
  top: 10px;
  /* transform: translateY(-50%); */
}

.sec-hand {
  height: calc(450px / 2 - 20px - 10px);
  top: 10px;
  transform: translateY(-50%);
  width: 3px;
}
